#a-for-comment{
    padding-left: 1%;
    color: black;
    font-size: medium;
    border-radius: 5px;
    max-width: 800px;  
}
#form-container {
    padding-left: 20px;  
    max-width: 600px;    
    margin: 0 auto;      
}
#comment-content{
    max-width: 800px; 
    height: 100px; 
    padding: 8px;  
}
#h1-for-comment{
    background-color: #333;
    color: white;
    text-align: left;
    font-size: 30px;
    padding-bottom: 0%;
    padding-left: 1%;
    margin-top: 0;
    border-top: 2px solid black;
}

#header-for-comment{
    color: black;
    font-size: medium;
    border: solid rgb(11, 165, 11);
    border-radius: 5px;
    max-width: 800px;  
    /*padding: 20px; */
    margin: 15px;
    /*box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow effect */

}


/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.p_about {
    text-decoration: solid;
    font-size: larger;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.p_wip {
    font-style: italic;
    font-size: larger;
}

/* Form styles */
form {
    display: flex;
    flex-direction: column;
}

form input, form textarea {
    padding: 10px;
    margin-bottom: 15px;
    width: 100%;
}

button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

/* Media Queries for Responsiveness */
/* Tablet styles */
@media (min-width: 600px) {
    main {
        padding: 20px;
    }

    nav ul li {
        margin: 0 20px;
    }

    footer {
        position: relative;
    }
}

/* Desktop styles */
@media (min-width: 1024px) {
    main {
        padding: 40px;
    }

    nav ul li {
        margin: 0 30px;
    }

    nav ul {
        font-size: 1.5rem;
    }
}
/* Default styles for mobile devices */
body {
    font-size: 16px;
}

/* Tablet view */
@media (min-width: 600px) {
    body {
        font-size: 18px;
    }
}

/* Desktop view */
@media (min-width: 1024px) {
    body {
        font-size: 20px;
    }
}
