
/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.p_about {
    text-decoration: solid;
    font-size: larger;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: absolute;
    width: 100%;
    bottom: 0;
    margin-top: auto;
}

.p_wip {
    font-style: italic;
    font-size: larger;
}
/*This is for the main page mainly the pictures and their captions*/
.img-with-text {
    text-align: center;
}

.img-with-text img {
    max-width: 100%;
}

.img-with-text figcaption {
    margin-top: 8px; 
    font-size: 0.9em;
    color: #555; 
}
.image-column {
    display: flex;
    flex-direction: row;
    align-items: center; 
}

.image-column img {
    max-width: 50%;
}
.image-column figcaption {
    margin-top: 8px; 
    font-size: 0.9em;
    color: #555; 
}


/* Form styles */
form {
    display: flex;
    flex-direction: column;
}

form input, form textarea {
    padding: 10px;
    margin-bottom: 15px;
    width: 100%;
}

button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}
img {
    max-width: 100%; /* Limits the image width to the container’s width */
    height: auto; /* Maintains the aspect ratio */
    display: block; /* Removes extra space below the image */
}
@media (max-width: 600px) {
    img {
        width: 90%; /* Adjusts the image width to 90% of the container */
        margin: 0 auto; /* Centers the image if needed */
    }
}


/* Media Queries for Responsiveness */
/* Tablet styles */
@media (min-width: 150px) {
    main {
        padding: 20px;
    }

    nav ul li {
        margin: 0 20px;
    }

    footer {
        position: relative;
    }
}

/* Desktop styles */
@media (min-width: 1024px) {
    main {
        padding: 40px;
    }

    nav ul li {
        margin: 0 30px;
    }

    nav ul {
        font-size: 1.5rem;
    }
}
/* Default styles for mobile devices */
body {
    font-size: 16px;
}

/* Tablet view */
@media (min-width: 600px) {
    body {
        font-size: 18px;
    }
}

/* Desktop view */
@media (min-width: 1024px) {
    body {
        font-size: 20px;
    }
}
