<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="products.html">Comment</a><li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Welcome to My Website</h1>
        <p>On this website you will see me rate all the countries I have visited throughout my life.</p>
        <p style="font-size:150%; text-align:center;"> These are the countries I have visited and stayed in for a minimum of 2 Days</p>
        <img src="{{ url_for('static', filename='Images/Countries.png') }}" alt="Countries I have visited Map" class="center">
        <h2>Italy:</h2>
        <p>I have stayed in Italy for about 10 and I traveled to most of the major cities, including Rome, Milan, Napoli and then the Amalfi coast.</p>
        <img src="{{ url_for('static', filename='static/Images/IT_statue') }}" alt="Pictures from my trip to italy" class="center">
    </main>

    <footer>
        <p>&copy; 2024 Rating Countries</p>
    </footer>
</body>
</html>
