<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_comment.css') }}">

</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="products.html">Comment</a><li>
            </ul>
        </nav>
    </header>
    <h1 id="h1-for-comment">Comments: </h1>
    <ul>
        <h1 id="header-for-comment" >Here you can add your own comment regarding any of my trips. Feel free to also give your own opinion. </h1>
        {% for product in products %}
        <li>
            <h2>{{ product.title }}</h2>
            <p>{{ product.description }}</p>
            <a id="a-for-comment"href="{{ url_for('update_product', id=product.id) }}">Edit</a>
            <form action="{{ url_for('delete_product', id=product.id) }}" method="post" style="display:inline;">
                <button type="submit">Delete</button>
            </form>
        </li>
        {% else %}
        <p>No comments have been posted</p>
        {% endfor %}
    </ul>
    <button id="load-comments">Load comments </button>
    <ul id="comments"></ul>
    <!-- Link the JavaScript file -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <a id="a-for-comment"href="{{ url_for('add_product') }}">Add New Comment</a>
</body>
</html>
